.cart__checkout {
 background-color: #ff5c36;
  border: none;
  padding: 20px 20px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  color: #ffffff;
  font-size: 16px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  &:hover{
    background-color: #626262;
  }
}

.cart__items-row {
    
}

.cart__items-row td {
    vertical-align: middle;
    border: none;
}

.cart__save {
    background-color: #626262;
  border: none;
  padding: 20px 20px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  color: #ffffff;
  font-size: 16px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  &:hover{
   background-color: #ff5c36;
  }
}

.cart__result-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.cart__table th{
    border: none;
    font-size: 18px;
}

@media (min-width: 992px) {
    .cart__checkout, .cart__save {
        width: 400px;
    }
}

@media (min-width: 1200px) {
    .cart__checkout, .cart__save {
        width: 250px;
    }

    .cart__save {
        order: 1;
    }
    
    .cart__result {
        order: 2;
    }
    
    .cart__checkout {
        order: 3;
    }

    .cart__result-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }
}

.check {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.check h4 {
    margin: 0;
    margin-top: 20px;
}

.check p {
    margin: 0;
    text-align: center;
}

@media (min-width: 992px) {
    .check {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    
    .check h4 {
        margin: 0;
        margin-left: 20px;
    }
    
    .check p {
        margin: 0;
        margin-left: 20px;
    }
    
    .check__img {
        width: 30%;
    }
}

