.header-bot__list {
    list-style: none;
    display: none;
    position: static;
    justify-content: space-between;
    margin-top: -10;
    padding: 30;
    
}
  
.header-bot__list li {
    width: 25%;

    text-align: center;
}
  
.header-bot__link {
    padding: 10px 0;
    display: block;
    color: #ff5c36;
    font-weight: bold;
    font-size: 15px;
    &:hover {
      color:  #626262;
    }
}

@media (min-width: 576px) {
    .header-bot__list {
        display: flex;
    }
}

@media (min-width: 768px) {
    .header-bot__link {
        font-size: 18px;
    }
}