.product__wrapper {
    padding: 20px 0;
}

.product__img {
    width: 100%;
}

.product__price {
    font-weight: bold;
}

.product__description {
    color: #626262;
}

.product__btn {
    background-color: #ff5c36;
  border: none;
  padding: 10px 20px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  color: #ffffff;
  font-size: 16px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  &:hover {
        background-color: $grey;
        color: #fff;
    }
}

@media (min-width: 991px) {
    .product {
        display: flex;
    }

    .product__wrapper {
        padding: 0 30px;
    }

    .product__img {
        width: 500px;
    }
}
